<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />

    <!-- CSS -->
    <link rel="stylesheet" href="style.css" />

    <!-- JavaScript -->
    <script src="style.js"></script>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&family=Satisfy&display=swap" rel="stylesheet">

    <title>{% block title %} {% endblock title %}</title>
</head>

<body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="height: 75px">
        
        
        
        <div class="container-fluid">
            <a class="navbar-brand fs-3 mx-3" href="/">AllInOneCP</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            {% if request.user.is_authenticated %}
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link fs-2 px-1" href="daily_coding">Coding</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <b>
                                <li class="nav-item">
                                    <a class="nav-link fs-4" href="/profile">Hello, {{request.user}}</a>
                                </li>
                            </b>
                            <button type="button" class="btn btn-outline-danger mx-4">
                                LogOut
                            </button>
                        </ul>
                    </form>
                </div>
            {% else %}
                <form class="d-flex">

                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <b>
                            <li class="nav-item">
                                <a class="nav-link fs-4 mx-4" href="/login">Login</a>
                            </li>
                        </b>
                        <!-- <b>
                            <li class="nav-item">
                                <a class="nav-link fs-4" href="/register">Register</a>
                            </li>
                        </b> -->
                        
                    </ul>
                </form>
            {% endif %}

        </div>
    </nav>

    {% block body %} {% endblock body %}

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>