{% extends 'base.html' %}

{% block title %} Profile {% endblock title %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col-sm">

      <div class="card1">
        <!-- Button trigger modal -->
       
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
          
          <div class="card" style="width: 18rem;">
            <img src="https://jooncco.com/public/images/leetcode-logo.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Leet Code</h5>
            </div>
          </div>
        
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Leet Code</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>Username:
                  <input type="text" name="username_leetcode" value="" placeholder="Enter your username">
                  {% comment %} {% for i in username %}
                  <span>{{i}}</span>
                  {% endfor%} {% endcomment %}
                </p>
                <p>Rank:
                  {% for j in response_leetcode %}
                  <span>{{j.ranking}}}</span>
                  {% endfor%}
                </p>
                <p>Questions Solved:
                  {% for k in response_leetcode %}
                  <span>{{k.total_problems_solved}}}</span>
                  {% endfor%}
                </p>
              </div>
              <div class="modal-footer">
                <a href=""><button type="button" class="btn btn-primary" data-bs-dismiss="modal">Get Stats</button></a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-sm">

      <div class="card2">
        <!-- Button trigger modal -->
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <div class="card" style="width: 18rem;">
            <img
              src="https://1.bp.blogspot.com/-0lmvNtw3oIo/YJ0O38KKcMI/AAAAAAAAAXM/0JuvLfQMRmQQeIgOoGL4S2Vi8yx2xQUuACPcBGAYYCw/s1024/SPOJ%2BSOLUTIONS%2B%25282%2529.png"
              class="card-img-top" alt="..." style="height:160px">
            <div class="card-body">
              <h5 class="card-title">SPOJ</h5>
            </div>
          </div>
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">SPOJ</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>Username: </p>
                <input type="text" name="username_spoj" value="" placeholder="Enter your username">

                <p>Rank: </p>
                <p>Questions Solved: </p>
              </div>
              <div class="modal-footer">
                <a href=""><button type="button" class="btn btn-primary" data-bs-dismiss="modal">Get Stats</button></a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-sm">

      <div class="card3">
        <!-- Button trigger modal -->
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <div class="card" style="width: 18rem;">
            <img src="https://codeforces.com/predownloaded/54/8a/548a369b1a954b2f7f9133072a025435c8667aac.png"
              class="card-img-top" alt="..." style="height: 155px;">
            <div class="card-body">
              <h5 class="card-title">Codeforces</h5>
            </div>
          </div>
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Codeforces</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>Username: </p>
                <input type="text" name="username_codeforces" value="" placeholder="Enter your username">

                <p>Rank: </p>
                <p>Questions Solved: </p>
              </div>
              <div class="modal-footer">
                <a href=""><button type="button" class="btn btn-primary" data-bs-dismiss="modal">Get Stats</button></a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-sm">

      <div class="card4">
        <!-- Button trigger modal -->
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <div class="card" style="width: 18rem;">
            <img
              src="https://prtimes.jp/data/corp/28415/ogp/tmp-cc1239d88d742358fce1f04454163d23-3dd0d11b1c3f08e6e13035f6e3e0961b.jpg"
              class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Atcoder</h5>
            </div>
          </div>
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Atcoder</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>Username: </p>
                <input type="text" name="username_atcoder" value="" placeholder="Enter your username">

                <p>Rank: </p>
                <p>Questions Solved: </p>
              </div>
              <div class="modal-footer">
                <a href=""><button type="button" class="btn btn-primary" data-bs-dismiss="modal">Get Stats</button></a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<style>
  body {
    background-image: linear-gradient(to right, rgb(58, 54, 54), black);
  }

  .card1 {
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0);
    padding-left: 40px;
  }

  .card2 {
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0);
    padding-left: 40px;
  }

  .card3 {
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0);
    padding-left: 40px;
  }

  .card4 {
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0);
    padding-left: 480px;
  }

  .card1:hover {
    cursor: pointer;
  }

  .card2:hover {
    cursor: pointer;
  }

  .card3:hover {
    cursor: pointer;
  }

  .card4:hover {
    cursor: pointer;
  }
</style>

{% endblock body %}