{% extends 'base.html' %}

{% block title %} Profile {% endblock title %}

{% block body %}




    <div class="container-modals">

  <!-- Button trigger modal -->
<button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <div class="card margin" style="width: 18rem;">
        <img src="https://jooncco.com/public/images/leetcode-logo.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">LeetCode</h5>
        </div>
      </div>
</button>
<button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal1">
    <div class="card margin" style="width: 18rem;">
        <img src="https://p.kindpng.com/picc/s/290-2901833_codechef-is-a-non-commercial-competitive-programming-signage.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">CodeChef</h5>
        </div>
      </div>
</button>
<button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal2">
    <div class="card margin" style="width: 18rem;">
        <img src="https://codeforces.com/predownloaded/54/8a/548a369b1a954b2f7f9133072a025435c8667aac.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">CodeForces</h5>
        </div>
      </div>
</button>
<button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal3">
    <div class="card margin" style="width: 18rem;">
        <img src="https://prtimes.jp/data/corp/28415/ogp/tmp-cc1239d88d742358fce1f04454163d23-3dd0d11b1c3f08e6e13035f6e3e0961b.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">AtCoder</h5>
        </div>
      </div>
</button>

</div>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">LeetCode</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Username: </p>
          <br>
          <p>Rank: </p>
          <br>
          <p>No. of questions solved: </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">CodeChef</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>Username: </p>
            <br>
            <p>Rank: </p>
            <br>
            <p>No. of questions solved: </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">CodeForces</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>Username: </p>
            <br>
            <p>Rank: </p>
            <br>
            <p>No. of questions solved: </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">AtCoder</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>Username: </p>
            <br>
            <p>Rank: </p>
            <br>
            <p>No. of questions solved: </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <style>
    body{
        background-color: black;
    }

      .container-modals{
          margin-top: 75px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
      }
      img{
          height: 200px;
      }
  </style>





{% endblock body %}